<h1>Listing Profiles</h1>
<%= link_to 'New Profile', new_profile_path %>
 
<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Bio</th>
    <th>Favorite Game</th>
    <th>Casual / Competitive</th>
  </tr>
 
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.name %></td>
      <td>
        <% if profile.user %>
          <%= profile.user.name %>
        <% end %>
      </td>
      <td><%= profile.biography %></td>
      <td><%= profile.favorite_game %></td>
      <td><%= profile.casual_or_competitive %></td>
      <td><%= link_to 'Show', profile_path(profile) %></td>
      <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
      <td><%= link_to 'Destroy', profile_path(profile), method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
