<p>
    <strong>Name:</strong>
    <%= @profile.name %>
    
    <strong>Bio:</strong>
    <%= @profile.biography %>
    
    <strong>Favorite Game:</strong>
    <%= @profile.favorite_game %>
    
    <strong>Casual / Competitive:</strong>
    <%= @profile.casual_or_competitive %>
</p>

<h2>Comments</h2>
<% @profile.comments.each do |comment| %>
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>
<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@profile, @profile.comments.build]) do |f| %>
<p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
</p>
<p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>

<%= link_to 'Profile List', profiles_path %>