<p>
    <strong>Name:</strong>
    <%= @profile.name %>
    
    <strong>Bio:</strong>
    <%= @profile.biography %>
    
    <strong>Favorite Game:</strong>
    <%= @profile.favorite_game %>
    
    <strong>Casual / Competitive:</strong>
    <%= @profile.casual_or_competitive %>
</p>
<%= link_to 'Profile List', profiles_path %>